.bloco {
    width: 9rem;
    height: 11rem;
    font-size: 6rem;
    font-weight: bold;
    padding: 10px;
    background: linear-gradient(90deg, rgb(248, 238, 238), rgb(189, 188, 188));
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 12px;
    box-shadow: 3px 3px 10px hsl(0, 1%, 38%);
    opacity: 0.9;
}