.contato {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    height: auto;
    background: url(../../../assets//flor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hC {
    text-align: center;
    padding: 2rem;
    font-size: 4rem;
    color: white;
}

.imagemContatoContatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}