.contato {
    height: auto;
    width: 100%;
    height: auto;
    background: url(../../../assets//flor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.imagemContatoContatar {
    height: 100vh;
}