.headerTopo {
    font-family: "times new roman";
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    gap: 30%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.5s cubic-bezier(0.4, 0.1, 1, 1);
    color: white;
    width: 100vw;
    height: 3rem;
}

.headerScroll {
    font-family: "times new roman";
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 10000;
    top: 0;
    gap: 30%;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 0, 10);
    transition: background-color 0.5s cubic-bezier(0.4, 0.1, 1, 1);
    color: white;
    width: 100vw;
    height: 3rem;
}

.navHeader {
    display: flex;
    flex-direction: row;
}

.navItensHeader {
    display: flex;
    flex-direction: row;
    gap: 30%;
}

button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 3px 4px black;
    &:hover {
        cursor: pointer;
    }
}

.contatosHeader {
    width: 10%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    &:hover {
        color: hsl(0, 0%, 90%);
    }
    &:active {
        color: hsl(0, 0%, 80%);
    }
}

i {
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .navItensHeader {
        gap: 1rem;
        font-size: 0.9rem;
    }

    .contatosHeader {
        gap: 0.5rem;
    }

    .headerTopo,
    .headerScroll {
        gap: 20%;
    }
}

@media screen and (max-width: 500px) {
    .contatosHeader {
        width: 20%;
        gap: 0.3rem;
    }

    .whatsHeader,
    .emailHeader {
        width: 10rem;
    }

    button {
        width: 2rem;
        height: 2rem;
    }

    .headerTopo,
    .headerScroll {
        font-size: 0.9rem;
        height: auto;
        padding: 1rem;
        flex-direction: column;
    }
}