main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 100vh;
    background: linear-gradient(90deg,  hsl(0, 0%, 3%, 0.9), hsl(0, 0%, 1%, 0.9), hsl(0, 0%, 3%, 0.9));
    box-shadow: 3px 5px 3px black;
    opacity: 0.95;
    backdrop-filter: blur(10px);
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#welcome {
    color: white;
    margin-bottom: 4rem;
}

.corpo {
    display: grid;
    grid-template-areas: 1fr 1fr;
    gap: 3rem;
    width: 100%;
}

.mensagem {
    text-align: right;
    color: white
}

.resposta {
    text-align: left;
    color: white;
}

.typing {
    animation: typing 3s steps(20, end) forwards, blink 0.7s infinite;
}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes blink {
    50% {border-color: transparent;}
}
