.midias {
    background: linear-gradient(180deg, rgb(24, 24, 24), black);
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    gap: 4rem;
}

.midias p {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    margin: 1rem;
    width: 70%;
    text-align: center;
}

.Midia {
    margin: 2rem 0;
    padding-left: 7rem;
    padding-right: 7rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.Midia.reverse {
    flex-direction: row-reverse;
}

.Midia h1 {
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    width: 10rem;
    height: auto;
}

.Midia .bg-video2 {
    height: 550px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 3px 8px black;
}

.descricaoMidia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.btnM i{
    margin: 10px;
    font-size: 60px;
    transition: all 0.3s ease-in-out;
}

.btnM.ins i:hover {
    color: rgb(231, 25, 138);
}

.insL {
    transition: all 0.3s ease-in-out;
}

.insL:hover {
    color: rgb(231, 25, 138);
}

.btnM.tik i:hover {
    color: rgb(14, 71, 124);
}

.tikL {
    transition: all 0.3s ease-in-out;
}
.tikL:hover {
    color: rgb(14, 71, 124);
}

@media(max-width: 900px) {
    .Midia {
        padding-left: 4rem;
        padding-right: 4rem;
        flex-direction: column;
        text-align: center;
    }

    .Midia.reverse {
        flex-direction: column;
        text-align: center;
    }

    .Midia .bg-video2 {
        width: 80%;
        height: 500px;
        margin-bottom: 1rem;
    }

    .Midia .descricaoMidia {
        align-items: center;
    }

    .Midia p {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .Midia {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .Midia .bg-video2 {
        width: 90%;
        height: 350px;
    }

    .midias p {
        width: 90%;
        font-size: 0.9rem;
    }

    .FaixaFinal h1 {
        font-size: 1rem;
    }
}