html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-out;
    will-change: opacity, transform;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
}

.wpp {
    background-color: black;
}