.portfolio {
    width: 100%;
    height: auto;
}

.portfolioInicio {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 2rem;
}

.portfolioInicio img {
    object-fit: cover;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.portfolioInicio h1 {
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    z-index: 100;
}

.portfolioInicio p {
    font-family: 'Lato', 'Times New Roman', Times, serif;
    text-align: center;
    width: 70%;
    z-index: 100;
}

.portfolioInicio hr {
    width: 30%;
    border: solid 1px white;
    z-index: 100;
}

.PortfolioHome h1 {
    width: 100%;
    text-align: center;
}

.PortfolioHome {
    background: linear-gradient(0deg, rgb(24, 24, 24), black);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-bottom: 2rem;
}

.PortfolioHome hr {
    margin: 1rem;
    width: 70%;
}

.PortfolioHome h1 {
    padding-top: 2rem;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
}

.PortfolioHome p {
    font-family: 'Lato', 'Times New Roman', Times, serif;
}

.tituloHr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 900px) {
    .PortfolioHome hr {
        margin: 0.5rem;
    }

    .PortfolioHome h1 {
        width: 100%;
    }

    .PortfolioHome p {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .PortfolioHome hr {
        margin: 0rem;
    }
}