.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: pácity 0.3s ease-out, trasnform 0.3s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}